<!doctype html>
<html lang="en">
  <head th:replace="~{common/header :: header(~{::title},~{::link})}">
    <title>我的视频网站 - 注册成功</title>
    <link href="/css/login.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="form-signin">
      <i class="fa fa-thumbs-up" style="font-size: 20rem;color: #24b47e" aria-hidden="true"></i>
      <h1 class="h3 mb-3 font-weight-normal">恭喜您，注册成功！</h1>

      <p class="mt-5 mb-3 text-muted">
        <a href="/login" class="btn btn-success"><i class="fa fa-sign-in"></i> 请登录</a>
      </p>

      <footer th:replace="~{common/footer :: footer}"></footer>
    </div>
  </body>
</html>
