<!DOCTYPE html>
<html>
	<head th:replace="~{common/header :: head}"></head>
	<body>
		<div class="container">
			<div class="panel panel-success">
				<div class="panel-body">
				    <div th:replace="~{common/banner :: navbar}"></div>
					<!-- <a th:href="@{/}" alt="首页">
						<img th:src="@{/images/ltb-logo.png}" alt="图标" class="logo img-responsive center-block" />
					</a> -->
					<div class="result alert alert-success">
						<p><i class="fa fa-fw fa-check-square" aria-hidden="true"></i> 管理员创建账号</p>
					</div>
					<div class="result alert alert-warning" th:if="${message != null}">
						<p><i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> <span th:text="${message}"></span></p>
					</div>
					<table style="width: 100%;">
						<tbody>
							<tr>
								<td width="35%">
									<div class="help alert alert-warning">
										<p>创建账号必须符合以下条件:</p>
										<ul>
											<li>uid不能为空</li>
											<li>email不能为空</li>
											<li>gidNumber不能为空</li>
											<li>uidNumber不能为空</li>
											<li>givenName不能为空</li>
											<li style="list-style: none;">&nbsp;</li>
											<li style="list-style: none;">&nbsp;</li>
											<li style="list-style: none;">&nbsp;</li>
											<li style="list-style: none;">&nbsp;</li>
											<li style="list-style: none;">&nbsp;</li>
											<li style="list-style: none;">&nbsp;</li>
											<li style="list-style: none;">&nbsp;</li>
										</ul>
									</div>
								</td>
								<td>
									<div class="alert alert-info">
										<form th:action="@{/admin/sendmail}" method="post" class="form-horizontal">
										    <div class="form-group">
										        <label for="uidNumber" class="col-sm-4 control-label">uidNumber</label>
										        <div class="col-sm-8">
										            <div class="input-group">
										                <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
										                <input type="number" min="1" name="uidNumber" id="uidNumber" th:value="${param.uidNumber}" class="form-control" placeholder="HR系统员工编号" autocomplete="off" required="required"/>
										            </div>
										        </div>
										    </div>
										    <div class="form-group">
										        <label for="uid" class="col-sm-4 control-label">uid</label>
										        <div class="col-sm-8">
										            <div class="input-group">
										                <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
										                <input type="text" name="uid" id="uid" th:value="${param.uid}" class="form-control" placeholder="唯一标识符" autocomplete="off" required="required"/>
										            </div>
										        </div>
										    </div>
										    <div class="form-group">
										        <label for="mailPrefix" class="col-sm-4 control-label">email</label>
										        <div class="col-sm-8">
										            <div class="input-group">
										                <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
										                <input type="text" name="mailPrefix" id="mailPrefix" th:value="${param.mailPrefix}" class="form-control" placeholder="电子邮箱地址前缀" autocomplete="off" required="required" style="width: 240px"/>
										                <span style="float: left;padding-top: 5px;">@</span>
										                <input type="text" name="mailSuffix" id="mailSuffix" th:value="${param.mailSuffix?:'5i5j.com'}" class="form-control" placeholder="电子邮箱地址后缀" autocomplete="off" required="required" style="width: 149px"/>
										            </div>
										        </div>
										    </div>
										    <div class="form-group">
										        <label for="givenName" class="col-sm-4 control-label">givenName</label>
										        <div class="col-sm-8">
										            <div class="input-group">
										                <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
										                <input type="text" name="givenName" id="givenName" th:value="${param.givenName}" class="form-control" placeholder="中文姓名" autocomplete="off" required="required"/>
										            </div>
										        </div>
										    </div>
										    <div class="form-group">
										        <label for="gidNumber" class="col-sm-4 control-label">gidNumber</label>
										        <div class="col-sm-8">
										            <div class="input-group">
										                <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
										                <input type="number" min="1" name="gidNumber" id="gidNumber" th:value="${param.gidNumber?:501}" class="form-control" placeholder="组编号，默认501" autocomplete="off" required="required"/>
										            </div>
										        </div>
										    </div>
										    <div class="form-group">
										        <div class="col-sm-offset-4 col-sm-8">
										            <button type="submit" class="btn btn-success">
										                <i class="fa fa-fw fa-check-square-o"></i> 提交
										            </button>
										        </div>
										    </div>
										</form>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<span th:replace="~{common/script :: jquery}"></span>
		<script type="text/javascript">
		    $(document).ready(function(){
		        // 菜单链接弹出窗口
		        $('[data-toggle="menu-popover"]').popover({
		            trigger: 'hover',
		            placement: 'bottom',
		            container: 'body' // 允许弹出窗口大于菜单按钮
		        });
		        $('#uid').blur(function(){
		        	let _this=this;
		        	let uid=this.value;
		        	if(uid.length>0){
		        		$.get('[[${#request.contextPath}]]/admin/checkuid',{uid:uid},function(data){
		        			alert(data.message);
		        			if (data.status) {
								$(_this).focus();
							}
		        		});
		        	}
		        });
		        $('#uidNumber').blur(function(){
		        	let uidNumber=this.value;
		        	if (uidNumber.length>0) {
						$.get('[[${#request.contextPath}]]/admin/queryuser',{userId:uidNumber},function(data){
							if (data.status) {
								let COMP_EMAIL=data.COMP_EMAIL.split('@');
								$('#givenName').val(data.USER_NAME);
								$('#uid').val(COMP_EMAIL[0]);
								$('#mailPrefix').val(COMP_EMAIL[0]);
								$('#mailSuffix').val(COMP_EMAIL[1]);
								$('#uid').blur();
							}else {
								$('#givenName').val('');
								$('#uid').val('');
								$('#mailPrefix').val('');
								$('#mailSuffix').val('5i5j.com');
							}
		        		});
					}
		        });
		    });
		</script>
	</body>
</html>
