<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="~{common/header :: header(~{::title},_)}">
		<title>我的视频网站 - 作品</title>
	</head>
	<body>
		<nav th:replace="~{common/navbar :: navbar}"></nav>
		<main role="main">
			<div class="jumbotron border-round-0" style="background-color: unset;padding: 3rem 2rem;"></div>
			<div class="container mb-4">
				<img src="/img/av.png" class="mt-neg100 mb-4 rounded-circle" width="128">
				<h1 class="font-weight-bold title" th:text="${session.CURRENT_USER?.nickname}">作者</h1>
				<p>点击“+”添加新作品</p>
			</div>
			<div class="container-fluid mb-5">
				<div class="row">
					<div class="card-columns">
						<div class="card card-pin" style="text-align: center" th:if="${videos.size} gt 20">
							<i class="bi bi-plus-square" style="font-size: 10rem;cursor: pointer"></i>
						</div>
						<div class="card card-pin" th:each="video : ${videos}">
							<img class="card-img" th:src="${video.videoLogo}" th:alt="${video.videoName}">
							<div class="overlay"
								 data-toggle="modal"
								 data-target="#exampleModal"
								 th:data-name="${video.videoName}"
								 th:data-logo="${video.videoLogo}">
								<h2 class="card-title title" th:text="${video.videoName}">视频名称</h2>
								<div class="more">
									<a th:href="'/videohub/show/' + ${video.id}">
										<i class="fa fa-eye" aria-hidden="true"></i> 查看([[${video.videoHits}]])
									</a>
									<a th:href="'/videohub/audit/' + ${video.id}"
									   th:if="${session.CURRENT_USER.userType.name} eq 'ADMIN'
									   		and ${video.auditStatus.name} eq 'PENDING'">
										<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> 审核
									</a>
									<th:block th:if="${session.CURRENT_USER.username} eq ${video.creator}">
										<a th:href="'/videohub/edit/' + ${video.id}"
										   th:if="${video.auditStatus.name} ne 'PASSED'">
											<i class="fa fa-edit" aria-hidden="true"></i> 编辑
										</a>
										<a th:href="'/videohub/delete/' + ${video.id}">
											<i class="fa fa-remove" aria-hidden="true"></i> 删除
										</a>
									</th:block>
								</div>
							</div>
						</div>
						<div class="card card-pin" style="text-align: center">
							<i class="bi bi-plus-square" style="font-size: 10rem;cursor: pointer"></i>
						</div>
					</div>
				</div>
			</div>
		</main>
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">标题</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="关闭">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<img>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="~{common/footer :: footer}"></footer>
		<th:block th:replace="~{common/script :: script}" />
	</body>
</html>
