<form nz-form [nzLayout]="'horizontal'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label>纯文本</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <span nz-form-text>{{now | date:'yyyy-MM-dd HH:mm:ss'}}</span>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label nz-form-item-required>单选下拉框</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <nz-select formControlName="select" [nzSize]="'large'">
        <nz-option *ngFor="let item of select_single" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
      </nz-select>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label nz-form-item-required>多选下拉框</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <nz-select formControlName="select_multiple" [nzSize]="'large'" [nzMode]="'multiple'">
        <nz-option *ngFor="let item of select_multiple" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
      </nz-select>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label nz-form-item-required>日期选择框</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <!-- <nz-datepicker formControlName="datepicker" [nzSize]="'large'"></nz-datepicker> -->
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label nz-form-item-required>时间选择框</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <!-- <nz-timepicker formControlName="timepicker" [nzSize]="'large'"></nz-timepicker> -->
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label>数字输入框</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <nz-input-number formControlName="input_number" [nzSize]="'large'" [nzStep]="1" [nzMax]="4" [nzMin]="1"></nz-input-number>
      <span nz-form-text> 次数</span>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label>开关</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <nz-switch formControlName="switch"></nz-switch>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label>滑动输入条</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <nz-slider formControlName="slider" [nzMarks]="marks"></nz-slider>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label>单选框</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <nz-radio-group formControlName="radio_group">
        <label nz-radio *ngFor="let item of radio_group" [nzValue]="item.value">
          <span>{{item.label}}</span>
        </label>
      </nz-radio-group>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label>单选按钮</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <nz-radio-group formControlName="radio_button">
        <label nz-radio-button *ngFor="let item of radio_button" [nzValue]="item.value">
          <span>{{item.label}}</span>
        </label>
      </nz-radio-group>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label>多选框</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <nz-checkbox-group [(ngModel)]="check_group" formControlName="check_group"></nz-checkbox-group>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-control nz-col [nzSpan]="12" [nzOffset]="6">
      <button nz-button [nzType]="'primary'" [nzSize]="'large'">提交</button>
    </div>
  </div>
</form>
