<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<title>hello</title>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<link href="/webjars/roboto-fontface/css/roboto/roboto-fontface.css" rel="stylesheet">
		<link href="/webjars/mdi__font/css/materialdesignicons.min.css" rel="stylesheet">
		<link href="/webjars/vuetify/dist/vuetify.min.css" rel="stylesheet">
	</head>
	<body>
		<div id="app">
            <v-app>
                <v-main>
                    <v-container>
                        <v-row>
                            <v-col>
                                <v-tabs v-model="tabs">
                                    <v-tab>aaaaa</v-tab>
                                    <v-tab>bbbbb</v-tab>
                                    <v-tab>ccccc</v-tab>
                                </v-tabs>
                                <v-tabs-items v-model="tabs">
                                    <v-tab-item>1111111</v-tab-item>
                                    <v-tab-item>22222222</v-tab-item>
                                    <v-tab-item>333333</v-tab-item>
                                </v-tabs-items>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-main>
            </v-app>
		</div>
	</body>
	<script src="/webjars/vue/vue.min.js"></script>
	<script src="/webjars/vuetify/dist/vuetify.min.js"></script>
	<script src="js/index2.js"></script>
</html>
