<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<title>hello</title>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<link href="/webjars/roboto-fontface/css/roboto/roboto-fontface.css" rel="stylesheet">
		<link href="/webjars/mdi__font/css/materialdesignicons.min.css" rel="stylesheet">
		<link href="/webjars/vuetify/dist/vuetify.min.css" rel="stylesheet">
	</head>
	<body>
		<div id="app">
            <v-app>
                <v-main>
                    <v-container>
                        <v-row>
                            <v-col>
								<v-menu 
									v-model="user.menu" 
									:close-on-content-click="false" 
									transition="scale-transition" 
									offset-y 
									min-width="auto">
									<template v-slot:activator="{ on, attrs }">
										<v-text-field 
											v-model="user.clockTime" 
											prepend-icon="mdi-calendar" 
											readonly 
											v-bind="attrs" 
											v-on="on">
										</v-text-field>
									</template>
									<v-tabs v-model="user.tabs">
										<v-tab>日期</v-tab>
										<v-tab>时间</v-tab>
									</v-tabs>
									<v-tabs-items v-model="user.tabs">
										<v-tab-item>
											<v-date-picker 
												v-model="user.date" 
												no-title 
												scrollable 
												locale="zh-cn" 
												@click:date="clickDate(user)">
											</v-date-picker>
										</v-tab-item>
										<v-tab-item>
											<v-time-picker 
												v-model="user.time" 
												format="24hr" 
												use-seconds 
												scrollable 
												@click:second="clickSecond(user)">
											</v-time-picker>
										</v-tab-item>
									</v-tabs-items>
								</v-menu>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-main>
            </v-app>
		</div>
	</body>
	<script src="/webjars/vue/vue.min.js"></script>
	<script src="/webjars/vuetify/dist/vuetify.min.js"></script>
	<script src="js/index2.js"></script>
</html>
