<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="~{common/header :: header(~{::title},_)}">
		<title>我的视频网站 - 添加视频类别</title>
	</head>
	<body>
		<nav th:replace="~{common/navbar :: navbar}"></nav>
		<main role="main">
			<section class="bg-gray200 pt-3 pb-3">
				<div class="container-fluid">
					<div class="row justify-content-center">
						<div class="col-4">
							<h1 class="h3 mb-3 font-weight-normal">添加视频类别</h1>
							<div class="mb-3"
								 style="color: red;font-weight: bold"
								 th:if="${error} ne null"
								 th:text="${error}"></div>
							<form class="needs-validation" novalidate
								  method="post"
								  action="/category/add"
								  th:object="${category}">
								<div class="mb-3">
									<label for="categoryName">视频类别名称</label>
									<input type="text" class="form-control" th:field="*{categoryName}" placeholder="请输入视频类别名称" required>
									<div class="invalid-feedback">请输入视频类别名称！</div>
								</div>

								<div class="mt-3">
									<button class="btn btn-primary" type="submit">添加</button>
									<button class="btn btn-secondary" type="reset">清空</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer th:replace="~{common/footer :: footer}"></footer>
		<th:block th:replace="~{common/script :: script}" />
	</body>
</html>
