<html xmlns:th="https://www.thymeleaf.org">
<footer class="footer pt-3 pb-1 text-center" th:fragment="footer">
    <div class="container">
        <div class="socials-media">
            <ul class="list-unstyled">
                <li class="d-inline-block ml-1 mr-1"><a class="text-dark"><i class="fa fa-qq"></i></a></li>
                <li class="d-inline-block ml-1 mr-1"><a class="text-dark"><i class="fa fa-weixin"></i></a></li>
                <li class="d-inline-block ml-1 mr-1"><a class="text-dark"><i class="fa fa-weibo"></i></a></li>
                <li class="d-inline-block ml-1 mr-1"><a class="text-dark"><i class="fa fa-renren"></i></a></li>
                <li class="d-inline-block ml-1 mr-1"><a class="text-dark"><i class="fa fa-windows"></i></a></li>
                <li class="d-inline-block ml-1 mr-1"><a class="text-dark"><i class="fa fa-edge"></i></a></li>
                <li class="d-inline-block ml-1 mr-1"><a class="text-dark"><i class="fa fa-linux"></i></a></li>
                <li class="d-inline-block ml-1 mr-1"><a class="text-dark"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>
        <p>
            Copyright &copy; 2020 - 2023
            <span class="credits">
                <a class="text-dark">关于网站</a>
                <a class="text-dark">网站推广</a>
                <a class="text-dark">联系我们</a>
                <a class="text-dark">帮助中心</a>
            </span>
        </p>
    </div>
</footer>
</html>
