<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="~{common/header :: header(_,_)}"></head>
	<body>
    	<nav th:replace="~{common/navbar :: navbar}"></nav>
    	<main role="main">
			<section class="mt-4 mb-5">
				<div class="container mb-4">
					<h1 class="font-weight-bold title">热搜</h1>
					<div class="row">
						<nav class="navbar navbar-expand-lg navbar-light bg-white pl-2 pr-2">
							<button class="navbar-light navbar-toggler"
									type="button"
									data-toggle="collapse"
									data-target="#navbarsExplore"
									aria-controls="navbarsDefault"
									aria-expanded="false"
									aria-label="切换导航">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarsExplore">
								<ul class="navbar-nav">
									<li class="nav-item" th:each="cate : ${categories}">
										<a class="nav-link" th:href="'?categoryId=' + ${cate.id}" th:text="${cate.categoryName}">类别名称</a>
									</li>
									<li class="nav-item dropdown" th:if="${categoryMoreList} ne null">
										<a class="nav-link dropdown-toggle"
										   href="#"
										   id="dropdown01"
										   data-toggle="dropdown"
										   aria-haspopup="true"
										   aria-expanded="false">更多</a>
										<div class="dropdown-menu shadow-lg" aria-labelledby="dropdown01">
											<a class="dropdown-item"
											   th:each="cate : ${categoryMoreList}"
											   th:href="'?categoryId=' + ${cate.id}"
											   th:text="${cate.categoryName}">类别名称</a>
										</div>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="card-columns">
							<div class="card card-pin" th:each="video : ${videos}">
								<img class="card-img" th:src="${video.videoLogo}" th:alt="${video.videoName}">
								<div class="overlay"
									 data-toggle="modal"
									 data-target="#exampleModal"
									 th:data-name="${video.videoName}"
									 th:data-logo="${video.videoLogo}">
									<h2 class="card-title title" th:text="${video.videoName}">视频名称</h2>
									<div class="more">
										<a th:href="'/video/show/' + ${video.id}">
											<i class="fa fa-eye" aria-hidden="true"></i> 查看([[${video.videoHits}]])
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
    	</main>
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">标题</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="关闭">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<img>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
    	<footer th:replace="~{common/footer :: footer}"></footer>
		<th:block th:replace="~{common/script :: script}" />
	</body>
</html>
