<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <ng-template ngFor let-child [ngForOf]="menu">
        <li nz-menu-item (click)="clickMenuItem(child)" [nzSelected]="child.selected" *ngIf="!child.children">
          <span>
            <i class="{{child.icon}}"></i>
            <span class="nav-text">{{ child.text }}</span>
          </span>
        </li>
        <li nz-submenu [nzOpen]="child.selected" *ngIf="child.children">
          <span title>
            <i class="{{child.icon}}"></i>
            <span class="nav-text">{{ child.text }}</span>
          </span>
          <ul *ngFor="let item of child.children">
            <li nz-menu-item (click)="clickMenuItem(item)" [nzSelected]="item.selected">{{ item.text }}</li>
          </ul>
        </li>
      </ng-template>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <div nz-row>
        <div nz-col [nzSpan]="2">
          <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
        </div>
        <div nz-col [nzSpan]="20"></div>
        <div nz-col [nzSpan]="1" style="text-align: right">
          <nz-dropdown>
            <a class="ant-dropdown-link" nz-dropdown>
              <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
            </a>
            <ul nz-menu>
              <li nz-menu-item>
                <a target="_blank" rel="noopener noreferrer" href="#">我的消息</a>
              </li>
              <li nz-menu-item>
                <a target="_blank" rel="noopener noreferrer" href="#">个人设置</a>
              </li>
              <li nz-menu-item>
                <a (click)="logout()">退出登录</a>
              </li>
            </ul>
          </nz-dropdown>
        </div>
        <div nz-col [nzSpan]="1">{{user?.name}}</div>
      </div>
    </nz-header>
    <nz-content>
      <div #nzcontent style="padding:10px; background: #fff;">
        <nz-tabset [nzType]="'card'" [nzSelectedIndex]="selectedIndex" *ngIf="tabs.length>1">
          <nz-tab *ngFor="let tab of tabs" (nzClick)="selectTab(tab)">
            <ng-template #nzTabHeading>
              <div>{{tab.text}}
                <i class="anticon anticon-cross" style="margin-right: 0px" (click)="closeTab(tab)"></i>
              </div>
            </ng-template>
          </nz-tab>
          <ng-template #nzTabBarExtraContent>
            <i class="anticon anticon-delete" style="cursor: pointer" (click)="closeAllTabs()"></i>
          </ng-template>
        </nz-tabset>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
