<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <title>请登录</title>
	    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	    <link th:href="@{/css/signin.css}" rel="stylesheet" crossorigin="anonymous"/>
	</head>
	<body>
    	<div class="container">
     		<form class="form-signin" method="post" th:action="@{/login}">
       			<h2 class="form-signin-heading">请登录</h2>
       			<div class="alert alert-success" role="alert" th:if="${session[SPRING_SECURITY_CONTEXT]!=null}">您已登录</div>
       			<div class="alert alert-danger" role="alert" th:if="${session[SPRING_SECURITY_LAST_EXCEPTION]!=null}" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}"></div>
       			<p>
         			<label for="username" class="sr-only">用户名</label>
         			<input type="text" id="username" name="username" class="form-control" placeholder="用户名" required autofocus autocomplete="off">
       			</p>
       			<p>
         			<label for="password" class="sr-only">密码</label>
         			<input type="password" id="password" name="password" class="form-control" placeholder="密码" required autocomplete="off">
       			</p>
       			<p style="display: flex;align-items: center;">
         			<label for="captcha" class="sr-only">验证码</label>
         			<input type="text" id="captcha" name="captcha" class="form-control" placeholder="验证码" required autocomplete="off" style="width: 170px;margin-right: 20px;">
         			<img id="captchaimg" alt="图片验证码" th:src="@{/captcha}" title="点我重新生成验证码" style="cursor: pointer;">
       			</p>
       			<button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
     		</form>
		</div>
	</body>
	<script type="text/javascript">
		document.getElementById('captchaimg').onclick=function(){
			this.src='[[${#request.contextPath}]]/captcha?x='+Math.random();
		}
	</script>
</html>
