<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>菜单</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/address">地址表格</a>
      <a mat-list-item routerLink="/dashboard">仪表板</a>
      <a mat-list-item routerLink="/drag">拖放</a>
      <a mat-list-item routerLink="/table">表</a>
      <a mat-list-item routerLink="/tree">树</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="切换侧面导航"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="侧面导航切换图标">menu</mat-icon>
      </button>
      <span>我的应用</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="带心脏图标的示例图标按钮">
        <mat-icon matBadge="7" matBadgeColor="warn">favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="带共享图标的示例图标按钮">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
