/* 改变主题色变量 */
// $--color-primary: #20a0ff;//蓝色
// $--color-primary: #18c79c; //绿色
$--color-primary: #9c27b0; //紫色

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/packages/theme-chalk/src/fonts';
@import '~element-ui/packages/theme-chalk/src/index';

// 指定font-awesome的字体及样式
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
