<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%t][%p][%c:%L] - %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.wiwj.bdm.mq.mapper" level="debug">
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="org.apache.zookeeper" level="warn">
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="org.I0Itec.zkclient" level="warn">
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="org.apache.curator" level="warn">
			<AppenderRef ref="Console"/>
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
</Configuration>